.container {
  &,
  &--isVisible {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      flex-direction: column;
      column-gap: 2.5rem;
      row-gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;

      p {
        margin: 0;
      }
    }

    > ul {
      flex-wrap: nowrap;
      flex-direction: row;

      > li > a,
      > li > p {
        font-weight: bold;
      }
    }

    [class*='--light'] & {
      button i {
        color: var(--mtf-text);
      }
      &--isVisible button i {
        color: var(--mtf-light);
      }
    }

    [class*='--dark'] & {
      button i {
        color: var(--mtf-material);
      }
      &--isVisible button i {
        color: var(--mtf-light);
      }
    }

    header & {
      button {
        z-index: 6;
        background-color: transparent;
        border: none;

        i {
          font-size: 1.5rem;
        }
      }

      > ul {
        display: none;
        color: var(--mtf-light);
      }

      &--isVisible {
        > ul {
          display: flex;
          position: absolute;
          justify-content: space-evenly;
          top: 0%;
          right: 0;
          z-index: 5;
          width: 100%;
          padding: 4rem;
          background-color: var(--mtf-dark);
        }
      }
    }
  }

  footer & {
    justify-content: flex-end;
    margin-bottom: 3.625rem;
    padding: 0;
  }
}
