.container {
  &,
  &--isVisible {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-bottom: 0;
      padding-left: 0;
      column-gap: 2.5rem;
      list-style: none;
      row-gap: 1rem;

      p {
        margin: 0;
      }
    }

    > ul {
      flex-flow: row nowrap;

      > li > a,
      > li > p {
        font-weight: bold;
      }
    }

    header & {
      button {
        z-index: 6;
        background-color: transparent;
        border: none;

        i {
          font-size: 1.5rem;
        }
      }

      > ul {
        display: none;
        color: var(--mtf-light);
      }

      &--isVisible {
        > ul {
          position: absolute;
          top: 0%;
          right: 0;
          z-index: 5;
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          padding: 4rem;
          background-color: var(--mtf-dark);
        }
      }
    }
  }

  footer & {
    justify-content: flex-end;
    margin-bottom: 3.625rem;
    padding: 0;
  }

  [class*='--light'] & {
    button i {
      color: var(--mtf-text);
    }

    &--isVisible button i {
      color: var(--mtf-light);
    }
  }

  [class*='--dark'] & {
    button i {
      color: var(--mtf-light);
    }

    &--isVisible button i {
      color: var(--mtf-light);
    }
  }
}
