@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'settings';
@import 'foundation';

$disabled: .38;

@mixin h3 {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(32);
  letter-spacing: rem-calc(.25);
  text-transform: uppercase;
};

@mixin h4 {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(24);
  letter-spacing: rem-calc(.25);
  text-transform: uppercase;
};

@mixin h5 {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(16);
  text-transform: uppercase;
};

@mixin body {
  font-family: $body-font-family;
  font-size: $global-font-size;
  line-height: $global-lineheight;
}

@mixin body2 {
  font-family: 'Roboto Condensed';
  font-size: rem-calc(16);
  letter-spacing: rem-calc(.25);
  line-height: rem-calc(20);
}

@mixin caption {
  font-family: 'Roboto Condensed';
  font-size: rem-calc(12);
  letter-spacing: rem-calc(.4);
  line-height: rem-calc(16);
}

@mixin button {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(10);
  font-weight: 600;
  letter-spacing: rem-calc(1.25);
  text-transform: uppercase;
}

.branding {
  font-size: 0;
}

.button,
.button a {
  font-family: "Strongbox JNL";
  font-size: rem-calc(16);
  color: $white;
}

.mission {
  font-size: rem-calc(18);
  color: $white;
}

.masthead {
  color: $white;
}

.menu .menu-item a {
  color: inherit;
}

.post-event {
  .title {
    @include h5;
  }

  .venue {
    @include body2;
  }

  .schedule {
    @include body2;
  }

  .tag {
    @include caption;
  }
}

#bottombar {
  color: white
}
