@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'settings';
@import 'foundation';

$disabled: .38;

@mixin h3 {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(32);
  letter-spacing: rem-calc(.25);
  text-transform: uppercase;
};

@mixin h4 {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(24);
  letter-spacing: rem-calc(.25);
  text-transform: uppercase;
};

@mixin h5 {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(16);
  text-transform: uppercase;
};

@mixin body {
  font-family: $body-font-family;
  font-size: $global-font-size;
  line-height: $global-lineheight;
}

@mixin body2 {
  font-family: 'Roboto Condensed';
  font-size: rem-calc(16);
  letter-spacing: rem-calc(.25);
  line-height: rem-calc(20);
}

@mixin caption {
  font-family: 'Roboto Condensed';
  font-size: rem-calc(12);
  letter-spacing: rem-calc(.4);
  line-height: rem-calc(16);
}

@mixin button {
  font-family: 'Strongbox JNL';
  font-size: rem-calc(16);
  font-weight: 600;
  letter-spacing: rem-calc(1.25);
  text-transform: uppercase;
}

.branding {
  font-size: 0;
}

.button,
.button a {
  @include button;
  color: $white;
}

.mission {
  @include h4;
  color: $white;
  text-align: right;
}

.masthead {
  color: $white;

  .title {
    @include h3;
    text-align: center;
  }
}

.menu {
  .off-canvas & .menu-item a {
    font-family: 'Strongbox JNL';
    font-size: rem-calc(24);
    text-align: right;
    color: $white;

    &::before {
      font-size: 1rem;
    }
  }

  &.icons a {
    font-size: 0 !important;
  }

  &#social {
    &::before {
      @include xy-cell(
        $size: full,
      );
      content: "Follow MTF";
      font-family: 'Strongbox JNL';
      text-align: right;
      color: $white;
    }
  }

  @mixin social-link($icon: "") {
    &::before {
      content: $icon;
      display: inline-block;
      margin-right: rem-calc(8);
      font-family: 'Socicon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  a[href*="facebook"] {
    @include social-link('\e028');
  }

  a[href*="twitter"] {
    @include social-link('\e08d');
  }

  a[href*="instagram"] {
    @include social-link('\e044');
  }

  a[href*="youtube"] {
    @include social-link('\e0a5');
  }

  a[href*="vimeo"] {
    @include social-link('\e093');
  }

  a[href*="snapchat"] {
    @include social-link('\e076');
  }

  a[href*="tumblr"] {
    @include social-link('\e08b');
  }
}

.home .hentry {
  .lead {
    @include h4;
    font-size: rem-calc(20);
    color: $white;
  }
}

.post-event {
  .title {
    @include h5;
  }

  .venue {
    @include body2;
  }

  .schedule {
    @include body2;
  }

  .tag {
    @include caption;
  }

  a {
    color: inherit;
  }
}

.single-event .header ,
.tribe-events-single .header {
  .title {
    @include h3;
  }

  .venue {
    @include body2;
  }

  .schedule {
    @include body2;
  }

  .tag {
    @include caption;
  }
}

.widget {
  .menu-item {
    @include caption;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: rem-calc(1);
  }
}

.colophon {
  * {
    @include caption;
  }
}
