# See https://docs.docker.com/engine/reference/builder/#dockerignore-file/ for more about ignoring files.

**/*
!src/*
!.babelrc
!.gitignore
!.env
!.eslintrc
!.sass-lint.yml
!docker-compose.yaml
!Dockerfile
!gulpfile.babel.js
!package.json
!package-lock.json
!README.md
!tsconfig.json
!tslint.json
!webpack.config.babel.js
