# Ignore everything not declared below
dist
node_modules
wp-data
wp-plugins
.env
*

# Use this as a whitelist
!src/*
!src/**/*
!.babelrc
!.gitignore
!.eslintrc
!.sass-lint.yml
!docker-compose.yaml
!Dockerfile
!gulpfile.babel.js
!package.json
!package-lock.json
!README.md
!tsconfig.json
!tslint.json
!webpack.config.babel.js
