# Exclude everything by default
*

# Whitelist these things
!*/
!packages/**
!.gitignore
!/docker-compose.yaml
!/lerna.json
!/package.json
!/README.md

# Always exclude these things
node_modules/
.DS_Store
