@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';

.container {
  position: relative;
  width: 100%;
  max-width: calc(100% - 1.5rem);
  margin: auto;
  @include media-breakpoint-up(lg) {
    max-width: var(--mtf-max-width);
  }

  ul {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(90deg) translateX(100%) translateY(50%);
    transform-origin: right;
    margin: 0;
    gap: 2.25rem;
    font-size: 0.75rem;
    text-transform: uppercase;

    li {
      list-style: none;
      font-family: var(--mtf-font-display);
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  [class*='--light'] & {
    color: var(--mtf-text);
  }

  [class*='--dark'] & {
    color: var(--mtf-light);
  }
}
