@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/forms';

form {
  // TODO: move raw .input-group rules back here
  margin-top: 0.5rem !important;

  label {
    display: flex !important;
    align-items: center !important;
    padding: 0.75rem 0.5rem !important;
  }

  > div {
    // TODO: move raw .form-floating rules back here
    display: flex !important;
    flex: 1 !important;
  }

  select {
    // TODO: remove styles — moved to Atoms > Input
    padding: 0.75rem 0.5rem !important;
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 3px solid var(--mtf-text) !important;
    border-radius: 0 !important;

    &:not(:placeholder-shown) {
      padding-top: 1.625rem !important;
      padding-bottom: 0.625rem !important;
      color: var(--mtf-primary) !important;
      background-color: transparent !important;
      border-color: var(--mtf-text) !important;
      box-shadow: none !important;

      ~ label {
        transform: scale(0.8) translateY(-0.7rem) translateX(0.15rem) !important;
      }
    }
  }

  input:not([type='submit']) {
    // TODO: move raw .form-control rules back here
    padding: 0.75rem 0.5rem !important;
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 3px solid var(--mtf-text) !important;
    border-radius: 0 !important;

    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      padding-top: 1.625rem !important;
      padding-bottom: 0.625rem !important;
      color: var(--mtf-primary) !important;
      background-color: transparent !important;
      border-color: var(--mtf-text) !important;
      box-shadow: none !important;

      ~ label {
        transform: scale(0.8) translateY(-0.7rem) translateX(0.15rem) !important;
      }
    }
  }

  > button {
    flex-grow: 0 !important;
  }
}
