@use '../../templates/choreography';

.Article_tile_container {
  display: flex;
  flex-direction: column;
  min-height: 14rem;
  padding: 2rem 1rem 1rem;

  &:hover {
    @include choreography.pickup;
  }

  h3 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  span {
    display: flex;
    width: 100%;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 0.75rem;
    border: 2px solid var(--mtf-text);
  }

  section {
    flex-grow: 1;

    .summary {
      margin-top: 1rem;
      font-size: 0.875rem;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    [type='button'] {
      flex-grow: 0;
    }
  }
}
