.container {
  padding-top: 18rem;
  padding-bottom: 14.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../../public/images/brushstroke.png);
  background-size: cover;
  background-position: center;
  color: var(--mtf-light);

  article {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--mtf-max-width);
    margin: auto;

    &:not(:last-of-type) {
      margin-bottom: 8rem;
    }

    h2 {
      width: 35%;
      padding-left: 4.75rem;
    }

    div {
      width: 65%;
      padding-right: 4.75rem;
    }
  }
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  background-color: navy;

  ul {
    width: 100%;
    max-width: var(--mtf-max-width);
    margin: auto;
    margin-top: 14.5rem;
    margin-bottom: 11.25rem;
    padding-left: 0;
    list-style: none;

    li {
      width: 50%;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid var(--mtf-light);
      font-family: var(--mtf-font-display);
      font-size: 1.5rem;
      color: var(--mtf-light);
    }
  }
}
