@use 'colors';
@use 'typography';
@import 'wp-blocks';
@import 'typography';

html,
body {
  --mtf-light: #{colors.$light};
  --mtf-dark: #{colors.$dark};
  --mtf-primary: #{colors.$primary};
  --mtf-font-sans-serif: #{typography.$sans-serif};
  --mtf-font-serif: #{typography.$serif};
  --mtf-font-monospace: #{typography.$monospace};
  --mtf-font-display: #{typography.$display};
  --mtf-max-width: 1130px;

  @media (prefers-color-scheme: light) {
    --mtf-material: var(--mtf-light);
    --mtf-text: var(--mtf-dark);
  }
  @media (prefers-color-scheme: dark) {
    --mtf-material: var(--mtf-dark);
    --mtf-text: var(--mtf-light);
  }

  padding: 0;
  margin: 0;

  #__next {
    display: flex;
    flex-direction: column;
    height: 100vh;

    > main {
      flex-grow: 1;
      flex-basis: 100%;
      width: 100%;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 1s, color 0.15s 0s;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
