@import '~bootstrap/scss/bootstrap';
@import 'wp-blocks';
@import 'colors';
@import 'typography';

html,
body {
  --mtf-max-width: 1130px;

  margin: 0;
  padding: 0;

  /* stylelint-disable-next-line selector-id-pattern */
  #__next {
    display: flex;
    flex-direction: column;
    height: 100vh;

    > main {
      flex-basis: 100%;
      flex-grow: 1;
      width: 100%;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 1s, color 0.15s 0s;
}
