@use '../../templates/Layout/choreography';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';

.container {
  $mx: calc(1rem / 2);

  position: relative;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  .thumbnail {
    position: relative;
    padding-bottom: 13.75rem;
    background-color: var(--mtf-text);
    @include media-breakpoint-up(lg) {
      width: 17.5rem;
    }
  }

  &:hover {
    .thumbnail {
      @include choreography.pickup;
    }
  }

  time {
    display: block;
    padding-top: calc($mx * 2);
    padding-right: calc($mx * 2);
    font-size: 0.75rem;
    border-top: 3px solid var(--mtf-text);

    p {
      margin: 0;
    }

    :nth-child(2) {
      font-weight: 600;
    }
  }

  section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: calc($mx * 2);

    h2 {
      margin: 0;
      padding-top: $mx;
      padding-bottom: $mx;
      font-weight: bold;
      font-size: 1.125rem;
      text-transform: uppercase;
    }

    > div {
      flex-grow: 1;
      padding-top: calc($mx * 2);
      font-weight: 600;
      font-size: 0.875rem;
    }

    footer {
      display: flex;
      justify-content: flex-end;

      [type='button'] {
        flex-grow: 0;
      }
    }
  }
}
