@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';

.container {
  display: flex;
  flex-direction: column;

  header {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      height: 82vh !important;
      max-height: 52.6875rem;
    }

    .stage {
      position: relative;
      width: calc(100% - 3rem);
      margin: auto;
      margin-top: 4rem;
      padding-bottom: 66%;
      background-color: navy !important;
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        margin: unset;
        margin-top: unset;
        padding-bottom: unset;
      }
    }

    > aside {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      position: relative;
      max-width: var(--mtf-max-width);
      padding-top: 10rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      @include media-breakpoint-up(lg) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 33%;
        height: calc(52.6875rem - 10rem);
        background-color: var(--mtf-material);
        @include media-breakpoint-up(lg) {
          content: '';
        }
      }

      > * {
        margin: 0;
        @include media-breakpoint-up(lg) {
          margin: 1rem;
          max-width: calc(33% - 2rem);
        }

        &:not(h1):not([type='button']) {
          font-size: 1rem;
          @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
          }
        }
      }

      h1 {
        font-size: 5vmax;
        span {
          font-size: 1.85em;
        }
      }

      time,
      address {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5em;
      }

      .cost {
        font-weight: bold;
      }

      [type='button'] {
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 1.5rem;
      }

      @include media-breakpoint-down(lg) {
        > :nth-child(1) {
          order: 3;
          flex-basis: 100%;
          margin-bottom: 1rem;
        }
        > :nth-child(2) {
          order: 4;
          flex-basis: 100%;
        }
        > :nth-child(3) {
          order: 5;
          flex-basis: 100%;
          flex-grow: 1;
          margin-bottom: 2rem;
        }
        > :nth-child(4) {
          order: 1;
          margin-right: 1.5rem;
        }
        > :nth-child(5) {
          order: 2;
          flex-grow: 1;
        }
        > :nth-child(6) {
          order: 8;
          flex-basis: 100%;
        }
        > :nth-child(7) {
          order: 7;
          flex-grow: 0;
        }
        > :nth-child(8) {
          order: 6;
          flex-basis: 100%;
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--mtf-max-width);
    margin: auto;
    padding-top: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include media-breakpoint-up(lg) {
      padding-left: unset;
      padding-right: 2.5rem;
    }

    > h2,
    > div {
      @include media-breakpoint-up(lg) {
        margin-left: auto;
        width: calc(66% - 4.375rem);
      }
    }

    h2 {
      &:before {
        $thickness: 0.5rem;
        content: '';
        display: block;
        width: 50%;
        margin-top: calc(-3rem + $thickness / 2);
        margin-bottom: calc(3rem - $thickness / 2);
        border-bottom: $thickness solid var(--mtf-text);
      }
    }
  }
}
