.container {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--mtf-max-width);
  margin: auto;
  padding-bottom: 1rem;

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.25rem;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
